body {
	background: #EEEEEE;
}

#container{
	margin-top: 50px;
}

.top-navbar{
  background: #34495e;
  color: #FFFFFF;
  padding: 5px;
}

.form-control{
  margin-bottom: 20px;
}

.button-right{ 
  text-align: right;
}

.signup,.login {
  height: 400px;
  padding:20px;
  background: #FFFFFF;
}

.main{
  box-shadow: 0px 0px 5px #888888;
  background: #FFFFFF;
  padding:5px;
}

.sidebar,.main{
  padding: 0px;
}

.sidebar{
  padding: 10px;
}

.main{
  background: #FFFFFF;
  padding: 20px;
  border-left: 1px solid #CCCCCC;
}

.sidebar > li {
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid #CCCCCC;
}

.sidebar > li > a {
  display:block;
}

#compose-form {
  padding: 10px;
}

#message_recipient_uid {
  font: 15px;
  margin: 0px;
}

.message_list {
  padding: 10px;
}

.message{
	padding: 5px 10px;
	border-bottom:1px dashed #888888;
	display: block;
}

.message:hover{
    background: #F5F8FA;
}

.message_link{
  display: block;
}

.message_link:hover{
  background: #F5F8FA;
  text-decoration: none;
}

.message_from {
  color:#2980b9;
}

.message_subject {
  font-style: italic;
  font-weight: bold;
}

.message_email{
  font-weight: normal;
  font-style: italic;
  color: #AAAAAA;
}

.message_datetime{
  font-size: 12px;
  font-style: italic;
  color: #AAAAAA;
}

.message_button{
	font-size: 10px;
	background: #CCCCCC;
	color:#FFFFFF;
	padding: 3px;
	border-radius: 5px;
	margin-right: 5px;
}

.message_button:hover{
	text-decoration: none;
	background: #3498db;
	color: #FFFFFF;
}

.red{
	background: #CECECE;
	min-height: 50px;
}

.blue{
	background: #EEEEEE;
	min-height: 50px;
}