body {
	background: #EEEEEE;
}

#container{
	margin-top: 50px;
}

.top-navbar{
  background: #34495e;
  color: #FFFFFF;
  padding: 5px;
}

.form-control{
  margin-bottom: 20px;
}

.button-right{ 
  text-align: right;
}

.signup,.login {
  height: 400px;
  padding:20px;
  background: #FFFFFF;
}

.row{
  box-shadow: 0px 0px 5px #888888;
  background: #FFFFFF;
  padding:5px;
}

.sidebar,.main{
  padding: 0px;
}

.sidebar{
  padding: 10px;
}

.main{
  background: #FFFFFF;
  padding: 20px;
  border-left: 1px solid #CCCCCC;
}

.sidebar > li {
  list-style: none;
  padding: 5px;
  border-bottom: 1px solid #CCCCCC;
}

.sidebar > li > a {
  display:block;
}

#compose-form {
padding: 10px;
  border-bottom:1px solid #CECECE;
}

#message_recipient_uid {
  font: 15px;
  margin: 0px;
}

.message_list {
  background: #EEEEEE;
  padding: 10px;
}

.message_from {
  font-style: italic;
  border-right: 1px dotted #CCCCCC;
  padding-right: 10px;
}

.message_subject {
  color:#2980b9;
  font-weight: bold;
}